@charset "UTF-8";

.tit-beneficios{
    display: flex;
    justify-content: center;
    text-align: center;
}
.linha{
    border: 3px solid black;
    border-radius: 5px;
    width: 14%;
    margin-bottom: 100px;
}
.icones {
    display: flex;
    justify-content: left;
    gap: 20px; /* Adiciona espaçamento entre os ícones */
    margin-left: 200px;
}
.box-imagem img {
    margin-top: 10px;
}

.conteudo-box-icones{
    transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave apenas na transformação */
    margin-bottom: 120px;
}

/* Adicionando transição de hover */
.conteudo-box-icones:hover {
    transition: all 0.3s ease-in-out; /* Adiciona uma transição suave */
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho dos ícones quando o mouse passa por cima */
}

.conteudo-box-icones h6{ 
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0;
}

.conteudo-box-icones p{
    font-size: 16px;
    line-height: 22px;
}
